@import "../../assets/styles/helpers/variables";

.CategoryList {
  position: relative;

  & + & {
    margin-top: 25px;
  }

  &:before {
    position: absolute;
    z-index: 1;
    content: '';
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
  }

  &.Education:before {
    background-color: $color-education;
  }

  &.Work:before {
    background-color: $color-work;
  }

  &.Other:before {
    background-color: $color-other;
  }

  &.Sport:before {
    background-color: $color-sport;
  }

  &.Hobby:before {
    background-color: $color-hobby;
  }
}

.Circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -3px;
  left: -4px;
  border-radius: 50%;
  width: 18px;
  height: 18px;

  &.Work {
    background-color: $color-work;
  }

  &.Education {
    background-color: $color-education;
  }

  &.Other {
    background-color: $color-other;
  }

  &.Sport {
    background-color: $color-sport;
  }

  &.Hobby {
    background-color: $color-hobby;
  }

  &:before {
    position: absolute;
    content: '';
    background-color: inherit;
    width: 6px;
    height: 6px;
    border-radius: inherit;
    border: 2px solid $color-main-background;
  }

}

.Title {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0 0 15px 20px;
  line-height: .9;

  &.Education {
    color: $color-education;
  }

  &.Sport {
    color: $color-sport;
  }

  &.Hobby {
    color: $color-hobby;
  }

  &.Work {
    color: $color-work;
  }

  &.Other {
    color: $color-other;
  }
}

.Task {
  display: flex;
  min-height: 90px;
  background-color: $color-white;
  color: $color-gray;

  & + & {
    margin-top: 10px;
  }
}

.Category {
  border-left: 10px solid;

  &.DeleteMode {
    border-left: 0;
  }
}


.Education {
  border-color: $color-education;

  .DeleteButton {
    background-color: $color-education;

    &:hover {
      background-color: darken($color-education, $darken-5);
    }
  }
}

.Sport {
  border-color: $color-sport;

  .DeleteButton {
    background-color: $color-sport;

    &:hover {
      background-color: darken($color-sport, $darken-5);
    }
  }
}

.Hobby {
  border-color: $color-hobby;

  .DeleteButton {
    background-color: $color-hobby;

    &:hover {
      background-color: darken($color-hobby, $darken-5);
    }
  }
}

.Work {
  border-color: $color-work;

  .DeleteButton {
    background-color: $color-work;

    &:hover {
      background-color: darken($color-work, $darken-5);
    }
  }
}

.Other {
  border-color: $color-other;

  .DeleteButton {
    background-color: $color-other;

    &:hover {
      background-color: darken($color-other, $darken-5);
    }
  }
}

.RightSide {
  display: flex;
  .Date {
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 1.68rem;
  }

  .DeleteButton {
    width: 100px;
  }
}

.Overdue {
  color: $color-urgent;
}

.Today {
  @extend .Month;
  text-transform: uppercase;
  color: $color-gray;
}

.Month {
  font-size: .68rem;
}

.Urgent {
  color: $color-urgent;
}

.High {
  color: $color-high;
}

.Middle {
  color: $color-middle;
}

.Low {
  color: $color-btn-green;
}

.Done {
  background-color: darken($color-white, $darken-15);

  &.Education {
    border-color: lighten($color-education, $lighten-10);
  }

  &.Sport {
    border-color: lighten($color-sport, $lighten-10);
  }

  &.Hobby {
    border-color: lighten($color-hobby, $lighten-10);
  }

  &.Work {
    border-color: lighten($color-work, $lighten-10);
  }

  &.Other {
    border-color: lighten($color-other, $lighten-10);
  }

  &.Urgent {
    color: lighten($color-urgent, $lighten-10);
  }

  &.High {
    color: lighten($color-high, $lighten-10);
  }

  &.Middle {
    color: lighten($color-middle, $lighten-10);
  }

  &.Low {
    color: lighten($color-btn-green, $lighten-10);
  }

  .Priority {
    &.Urgent {
      background-color: lighten($color-urgent, $lighten-3);
    }

    &.High {
      background-color: lighten($color-high, $lighten-3);
    }

    &.Middle {
      background-color: lighten($color-middle, $lighten-3);
    }

    &.Low {
      background-color: lighten($color-btn-green, $lighten-3);
    }
  }
}

.TaskInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 10px 0 20px;
  font-size: 1.18rem;
}

.Priority {
  position: relative;
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: $color-white;
  font-size: 1.5rem;
  text-decoration: none;

  &:not(:disabled) {
    &:hover {
      cursor: pointer;

      .Estimation {
        display: none;
      }

      .TomatoIcon:before {
        content: '\e90e';
      }
    }
  }

  &.Urgent {
    background-color: $color-urgent;

    &:not(:disabled):hover {
      background-color: darken($color-urgent, $darken-15);
    }
  }

  &.High {
    background-color: $color-high;

    &:not(:disabled):hover {
      background-color: darken($color-high, $darken-15);
    }
  }

  &.Middle {
    background-color: $color-middle;

    &:not(:disabled):hover {
      background-color: darken($color-middle, $darken-15);
    }
  }

  &.Low {
    background-color: $color-btn-green;

    &:not(:disabled):hover {
      background-color: darken($color-btn-green, $darken-15);
    }
  }
}

.TomatoIcon {
  position: absolute;
  font-size: 3.75rem;
}

.TaskButtons {
  display: flex;
  margin-right: 30px;
  flex-direction: column;
  justify-content: center;
  color: $color-light-gray;
}

.TaskButton {
  &:before {
    font-size: 1.25rem;
  }

  &:hover {
    color: $color-spray;
  }

  & + & {
    margin-top: 10px;
  }
}

.BarSection {
  display: flex;
  margin-bottom: 20px;
}

.GlobalListToggle {
  margin: 30px 0 20px 0;
  width: max-content;
  color: $color-nepal;

  &:hover {
    cursor: pointer;
    color: $color-spray;
  }
}

.ShowButton {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 1.25rem;
}

.ShowListIndicator {
  margin-left: 10px;
  font-size: .7rem;
}

.DeleteButton {
  position: relative;
  width: 100%;
  height: 100%;
  color: $color-white;
  font-size: 3rem;

  &.Selected::before,
  &:hover::before {
    content: '\e906';
  }
}