@import "../../assets/styles/helpers/variables";

.HeadingContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $color-white;
}

.Title {
  margin-bottom: 22px;
  font-size: $font-size-heading1;
  font-weight: 500;
}