@import "../../../../assets/styles/helpers/variables";
.NavigationItem {
  & + & {
    margin-left: 30px;
  }
}
.NavigationLink {
  text-decoration: none;
  color: $nepal;
  &:hover{
    color: $spray;
  }
}
.Active, .Active:hover{
  color: white;
}
