@import "../../../assets/styles/helpers/variables";

.Button {
  max-width: 137px;
  width: 100%;
  min-height: 42px;
  display: inline-block;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: $color-white;

  & + & {
    margin-left: 20px;
  }
}

.Green {
  background: $color-btn-green;
  max-width: 125px;

  &:active,
  &:hover {
    background: darken($color-btn-green, 5%);
  }
}

.Blue {
  background: $color-btn-blue;

  &:active,
  &:hover {
    background: darken($color-btn-blue, 5%);
  }
}