//colors;
$color-main-background: #2A3F50;
$color-shadow: #253949;
$color-nepal: #8DA5B8;
$color-silver: #C8C8C8;
$color-white: #fff;
$color-spray: #82C7E0;
$color-gray: #7F7F7F;
$color-tip-text: #3c5162;
$color-high: #ffa841;
$color-dark_gray: #9F9F9F;
$color-mountain_meadow_dark: #16A085;
$color-deep_sea: #0E8C74;
$color-tomato: #F75C4C;
$color-urgent: #F75C4C;
$color-dark_coral: #C94D47;
$color-mahogany: #BC3535;
$color-btn-red: #f15a4a;
$color-curious_blue: #368BC5;
$color-pelorous: #2380B5;
$color-btn-blue: #57a6dc;
$color-btn-green: #1abc9c;
$color-work: #ffb200;
$color-work-darken: #DD8F05;
$color-middle: #fddc43;
$color-education: #59abe3;
$color-education-darken: #368BC5;
$color-hobby: #b470d0;
$color-hobby-darken:#9849B8;
$color-sport: #e16c65;
$color-sport-darken: #B74E4B;
$color-error: #d8584d;
$color-warning: #f99c43;
$color-successes: #1ca991;
$color-info: #6c9fcd;
$color-other: #00d4d9;
$color-other-darken: #04A5A5;
$color-border: #425869;
$color-settings-dots: #02ced3;
//fonts
$font-size-heading1: 1.75rem;
$font-size-subtitle: 1.375rem;
$font-size-caption: .875rem;

