@import "../base/typography";
@import "../helpers/variables";

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: $main-background;
}

img {
  width: 100%;
}
