@import "../../assets/styles/helpers/variables";

.Header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: $color-main-background;

  .HeaderWrapper {
    display: flex;
    align-items: center;
    height: 100px;

    nav {
      margin-left: auto;
    }
  }
}

.Fixed {
  position: fixed;
  justify-content: center;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0px 5px 8.3px 1.7px fade_out(darken($color-shadow, 15%), 0);

  .HeaderWrapper {
    height: 136px;
    width: 100%;
    max-width: 1186px;
  }
}