.SettingsControlForm {
  display: flex;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  max-width: 785px;
  min-height: 170px;
  margin: 82px auto 0;
}
.ButtonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 69px;
}